/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.gambar {
    height: 100%;
    width: 100%;
}

.video {
    height: 100%;
    width: 100%;
}

.post{
  min-height: 250px;
}

@media only screen and (max-width: 992px) {
  .gambar {
    height: 400px;    
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .gambar {
    height: 300px;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .gambar {
    height: 300px;
    width: 100%;
  }
}

body {
  display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}